{% extends 'base/index.html.twig' %}

{% block main %}

    {% for media in medias %}

        <div class="media">

            {{ media.title }}
            <a href="{{ media.link }}" target="_blank">Lien vers l'article</a>
        </div>

        {% for images in media.images %}

        <div class="img">
            <img src="{{ asset('assets/img/upload') }}/{{ images.title }}" class="imgFluid" alt="">
        </div>
            {% endfor %}


    {% endfor %}



{% endblock %}