{% extends 'base/index.html.twig' %}

{% block main %}

    <section>
        <h1 class="pageTitle">Presse</h1>
        {% for media in medias %}
            <article>
                <div class="media">
                    <h2>{{ media.title }}</h2>
                    {% for images in media.images %}
                        <div class="imgMedia">
                            <img src="{{ asset('assets/img/upload') }}/{{ images.title }}" class="imgFluid" alt="">
                        </div>
                    {% endfor %}
                    <a href="{{ media.link }}" target="_blank">Lien vers l'article</a>
                </div>
            </article>
        {% endfor %}
    </section>

{% endblock %}