</main>

<footer>

    <div class="bandeauFooter">


    <ul class="linkFooter">
        <a href="{{ path('index') }}"><li>Accueil</a></li>
        <a href="{{ path('admin_home') }}"><li>Espace administrateur</a></li>
    </ul>


    <div class="Author">
        <p>Réalisé par :<br>Teddy Perissinotto</p>
    </div>

    </div>

</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ asset('assets/js/script.js') }}"></script>

</body>
</html>