{% block menu %}

<div class="category">

        <ul class="categorylist">

                {% for categorie in categories %}

                        <li class="linkCategory">{{ categorie.titre }}</li>

                {% endfor %}
        </ul>
</div>

{% endblock %}
