
    <div class="searchInfo">

        <form action="{{ path('search_results') }}" method="get" class="formSearch">
            <input type="text" name="word" placeholder="Rechercher un produit" class="searchBar">
            <input type="submit" class="searchSubmit">
        </form>

    </div>
