
{% extends 'base/index.html.twig' %}

{% block title %}A propos de nous{% endblock %}

{% block main %}

    <h1 class="pageTitle">Qui sommes-nous ?</h1>

    <section>
        <article>
            <p>Originaires de Bolton, près de Manchester en Angleterre, David Henshall, sa femme Denise ainsi que leur fille Michaela ont posé leur bagage dans la commune de Sossay dans le département de la Vienne.  </p>
        </article>
    </section>

{% endblock %}