{% extends 'base/baseAdmin.html.twig' %}

{% block main %}

    <div class="adminMenu">

        <h1 class="pageTitle">Bienvenue {{ app.user.username }}</h1>


        <h2 class="homeTitleNews">Gestion du site</h2>

        <a href="{{ path('admin_menu_articles') }}">Gestion des Produits</a>
        <a href="{{ path('admin_menu_news') }}">Gestion des Actualités</a>


        <h2 class="homeTitleNews">Gestion des actualites</h2>


    </div>
{% endblock %}