{% extends 'base/baseAdmin.html.twig' %}

{% block main %}

    <h2>Portfolio des Images</h2>

    <a href="{{ path('images_form_insert') }}">
        <div class="buttonCreate">
            <p>Ajouter une nouvelle image</p>
        </div>
    </a>

    <div class="adminTableImages">

        {% for image in images %}

            <div class="adminImgMenu">

                <div class="adminImage">
                    <img src="{{ asset('assets/img/upload') }}/{{ image.title }}" class="imgFluid">
                </div>

                <a href="{{ path('images_delete', {'id': image.id}) }}" class="buttonDeleteImage">Supprimer</a>

            </div>
        {% endfor %}

    </div>

{% endblock %}