{% extends 'base/baseAdmin.html.twig' %}

{% block main %}

    <h1 class="pageTitle">Bienvenue {{ app.user.username }}</h1>


    <h2 class="homeTitleNews">Gestion du site</h2>

    <div class="buttonMenu">

        <a href="{{ path('admin_menu_articles') }}">
            <div class="buttonAdmin">
                <p>Gestion des Produits</p>
            </div>
        </a>

        <a href="{{ path('admin_menu_news') }}">
            <div class="buttonAdmin">
                <p>Gestion des Actualites</p>
            </div>
        </a>

        <a href="{{ path('admin_menu_images') }}">
            <div class="buttonAdmin">
                <p>Gestion des images</p>
            </div>
        </a>

    </div>
{% endblock %}