@media screen and (min-width:750px) {

  /**********************************************************************************************************************/
  /*                                          CSS DE LA PAGE CONTACT                                                    */
  /**********************************************************************************************************************/

  .infoIframe {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .googleIframe {
    width: 50%;
    height: auto;
  }

}