

.adminNewsInfo{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
  border: solid 1px black;
}

.adminImgNews{
  width: 10%;
  height: auto;
}

.adminMenu{
  text-align: center;
}

.adminArticlesInfo{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
  border: solid 1px black;
}

.adminImgArticles{
  width: 10%;
  height: auto;
}

.artcileInfo{
  width: 5%;
  height: auto;
  font-size: 10px;
}

