.adminNewsInfo{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
  border: solid 1px black;
}

.adminImgNews{
  width: 10%;
  height: auto;
}

.adminMenu{
  text-align: center;
}

.logoutButton{
  margin: 0 auto;
  width: 10%;
  height: 20px;
  background-color: #718C00;
  border: 1px solid black;
  border-radius: 50px;
}