.media{
  margin-top: 20px;
  margin-left: 25%;
  width: 50%;
  height: auto;
  text-align: center;
  border: solid 1px black;
  background-color: #5eb5e0;
}

.imgMedia{
  margin: 0 auto;
  width: 80%;
  height: auto;
}