.media{
  margin-top: 20px;
  margin-left: 25%;
  width: 50%;
  height: auto;
  text-align: center;
}

.imgMedia{
  margin: 0 auto;
  width: 80%;
  height: auto;
}

.media-link{
  width: 100%;
  height: auto;
}

.media-link:hover{
  background-color: rgba(0,0,0, 0.1);
  cursor: pointer;
}