@media screen and (min-width:750px) {

  /**********************************************************************************************************************/
  /*                                   CSS DES NEWS DE LA PAGE D'ACCUEIL DU SITE                                        */
  /**********************************************************************************************************************/

  .info {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .info2 {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .info2 .imgNews {
    width: 30%;
    height: auto;
    border-radius: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .imgNews {
    width: 30%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .imgFluidNews {
    border-radius: 10%;
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .titleNews {
    text-align: center;
    margin: auto;
    font-family: "schoolScript";
    font-size: 40px;
    color: white;
  }

  .line {
    height: 450px;
    border: black solid 1px;
  }

  .article {
    background-image: url("../img/news/board.jpg");
    background-size: cover;
    width: 30%;
    height: auto;
    margin-left: 10%;
    border-radius: 20px;
  }

  .articleNews {
    font-family: "chalk";
    font-size: 20px;
    color: white;
    padding: 10px;
  }

  .info2 .article {
    width: 30%;
    height: auto;
    margin-right: 10%;
  }

  /**********************************************************************************************************************/
  /*                                             CSS DE LA PAGE homeNews                                                */
  /**********************************************************************************************************************/

  .allNews {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .homeNewsInfo {
    width: 20%;
    height: auto;
  }

  .homeNewsInfo:hover{
    box-shadow: 10px 5px 5px black;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    overflow: hidden;
  }

  .homeNewsInfo .titleNews a:hover{
    background-color: rgba(0, 0, 0, 0);
  }

  .homeNews {
    text-align: center;
    font-family: childWriting;
    font-size: 80px;
  }
  .homeTitleNews {
    text-align: center;
    font-family: "schoolScript";
    font-size: 40px;
  }

  .homeImgNews {
    width: 100%;
    height: auto;
  }

  /**********************************************************************************************************************/
  /*                                             CSS DE LA PAGE showNews                                                */
  /**********************************************************************************************************************/

  .boxNews {
    width: 80%;
    height: 500px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 8px 0 8px -10px #000000, -8px 0 8px -10px #000000;
  }

  .allImgNews {
    width: 40%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow: scroll;
  }

  .newsInfo {
    width: 30%;
    margin-left: 10%;
  }

  /**********************************************************************************************************************/
  /*                                           CSS DU POPUP DES IMAGES ACTUALITES                                                  */
  /**********************************************************************************************************************/

  .imgPopUpNews {
    margin: 20px;
    width: 150px;
    height: 150px;
    overflow: hidden;
  }

  .modalNews {
    display: none;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 50%;
    height: auto;
    overflow: auto;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

  .imgModalNews {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 400px;
    max-height: 600px;
  }

  .closeModalNews {
    margin-left: 20px;
    font-size: 20px;
    color: white;
  }

}