@media screen and (max-width:750px) {

  /***************************************************/
  /*                       Header                    */
  /***************************************************/

  .buttonBackToTop{
    display: none;
  }

  .headbandLogo{
    width: 100%;
    height: auto;
  }

  .ico{
    display: none;
  }

  .navbar{
    width: 100%;
    height: auto;
  }

  .ulNavbar{
    list-style-type: none;
    text-align: center;
    display: inline;
  }

  .imgCategory img{
    display: none;
  }

  .categoryList{
    width: 80%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  .formSearch{
    text-align: center;
  }

  /***************************************************/
  /*                      FOOTER                     */
  /***************************************************/

  .bandeauFooter{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .linkFooter{
    display: none;
  }
  footer a{
    display: none;
  }

  .contact{
    display: none;
  }

  .copyright{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imgCopyright{
    width: 10%;
  }

  .Author{
    width: 30%;
  }

  /***************************************************/
  /*                News page d'accueil              */
  /***************************************************/

  .info{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column-reverse;
  }

  .imgFluidNews{
    border-radius: 50px;
    overflow: hidden;
  }

  .articleNews{
    text-align: center;
  }

  .info2{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column-reverse;
  }


}
