/**********************************************************************************************************************/
/*                                          IMPORT DES FICHIERS PARTIELS                                              */
/**********************************************************************************************************************/

@import "footer";
@import "header";
@import "FOSUserBundle";
@import "news";
@import "homeAdmin";
@import "headerAdmin";
@import "articles";
@import "contact";
@import "formulaire";
@import "responsive";
@import "media";

/**********************************************************************************************************************/
/*                                                IMPORT DES FONTS                                                    */
/**********************************************************************************************************************/

@font-face {
  font-family: "childWriting";
  src: url("../font/ChildWriting-Regular.ttf"); }
@font-face {
  font-family: "schoolScript";
  src: url("../font/ulusalokul.com_cizgili.ttf"); }
@font-face {
  font-family: "chalk";
  src: url("../font/DJB Chalk It Up.ttf"); }

/**********************************************************************************************************************/
/*                                                CLASS CSS GENERAL                                                   */
/**********************************************************************************************************************/

body {
  margin: 0 auto;
  font-family: Helvetica;
  font-size: small;
  /*background-color: #f1f1f1;*/

}

.imgFluid {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: black;
}

a:hover{
  background-color: rgba(0, 0, 0, 0.2);
}

h2{
  font-family: "schoolScript";
  font-size: 30px;
  text-align: center;
}

.pageTitle{
  text-align: center;
  font-family: "childWriting";
  font-size: 80px;
}

h1{
  text-align: center;
}





