body {
  margin: 0 auto; }

.imgFluid {
  width: 100%;
  height: auto; }

a {
  text-decoration: none; }

.pageTitle {
  text-align: center;
  font-family: "childWriting";
  font-size: 80px; }

@font-face {
  font-family: "childWriting";
  src: url("../font/ChildWriting-Regular.ttf"); }
@font-face {
  font-family: "schoolScript";
  src: url("../font/ulusalokul.com_cizgili.ttf"); }
@font-face {
  font-family: "chalk";
  src: url("../font/DJB Chalk It Up.ttf"); }
/*-----------------------------------------------CSS Barre de Contact---------------------------------------*/
.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10%;
  padding-bottom: 10%; }

.iconContact {
  width: 20%;
  height: auto;
  text-align: center; }

.iconImg {
  width: 30%;
  height: auto;
  margin: 0 auto; }

/*----------------------------------------------------CSS Footer-------------------------------------------------*/
.hrFooter {
  width: 90%; }

footer {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.copyright {
  width: 20%;
  height: auto;
  display: flex;
  text-align: center; }

.imgCopyright {
  margin-top: 8%;
  margin-right: 5%;
  width: 10%;
  height: 30%; }

.linkFooter {
  list-style-type: none; }

.linkFacebook {
  width: 15%;
  height: auto;
  margin: 0 auto; }

/*-----------------------------------------------CSS GENERAL DU HEADER------------------------------------------------*/
header {
  background-image: url("../img/index/ford1921.jpg");
  width: 100%;
  height: 800px;
  background-size: cover; }

.imgFluid {
  width: 100%;
  height: auto; }

/*-----------------------------------------------CSS DU BANDEAU AVEC LOGO---------------------------------------------*/
.headbandLogo {
  width: 100%;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center; }

.ico {
  width: 50px;
  height: 50px; }

.logo {
  width: 20%;
  height: auto; }

/*--------------------------------------------------CSS DE LA NAVBAR--------------------------------------------------*/
.navbar {
  margin-top: 4px;
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5); }

.ulNavbar {
  list-style-type: none;
  margin-top: 2px; }

.linkNavbar {
  display: inline-block;
  width: 9%;
  margin-top: 15px;
  margin-left: 10%; }

.connectionForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.loginLogout {
  text-align: center; }

.loginInfo {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

/*-------------------------------------CSS News de la page d'accueil du site----------------------------------------*/
.info {
  width: 100%;
  display: flex;
  align-items: center; }

.info2 {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center; }

.info2 .imgNews {
  width: 30%;
  height: auto;
  border-radius: 50%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%; }

.imgNews {
  width: 30%;
  height: auto;
  border-radius: 50%;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%; }

.imgFluidNews {
  border-radius: 50%;
  width: 100%;
  height: auto;
  box-shadow: 10px 5px 5px darkgrey; }

.titleNews {
  text-align: center;
  margin: auto;
  font-family: "schoolScript";
  font-size: 40px;
  color: white; }

.line {
  height: 450px;
  border: black solid 1px; }

.article {
  background-image: url("../img/news/board.jpg");
  background-size: cover;
  width: 30%;
  height: auto;
  margin-left: 10%;
  border-radius: 20px; }

.articleNews {
  font-family: "chalk";
  font-size: 20px;
  color: white;
  padding: 10px; }

.info2 .article {
  width: 30%;
  height: auto;
  margin-right: 10%; }

/*---------------------------------------------CSS de la page homeNews-----------------------------------------------*/
.allNews {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.homeNewsInfo {
  width: 45%;
  height: auto; }

.homeNews {
  text-align: center;
  font-family: childWriting;
  font-size: 80px; }

.homeTitleNews {
  text-align: center;
  font-family: "schoolScript";
  font-size: 40px; }

.homeImgNews {
  width: 100%;
  height: auto; }

/*---------------------------------------------CSS de la page showNews-----------------------------------------------*/
.showNews {
  width: 30%;
  height: auto;
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 5%; }

.imgCarrousel {
  width: 100%;
  height: 750px; }

.titleNewsAlone {
  text-align: center; }

.adminNewsInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
  border: solid 1px black; }

.adminImgNews {
  width: 10%;
  height: auto; }

.adminMenu {
  text-align: center; }

.logoutButton {
  margin: 0 auto;
  width: 10%;
  height: 20px;
  background-color: #718C00;
  border: 1px solid black;
  border-radius: 50px; }

/*# sourceMappingURL=style.css.map */
