@charset "UTF-8";
/**********************************************************************************************************************/
/*                                          IMPORT DES FICHIERS PARTIELS                                              */
/**********************************************************************************************************************/
@media screen and (min-width: 750px) {
  /**********************************************************************************************************************/
  /*                                              CSS BARRE DE CONTACT                                                  */
  /**********************************************************************************************************************/
  .contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 10%; }

  .iconContact {
    width: 20%;
    height: auto;
    text-align: center; }

  .iconImg {
    width: 30%;
    height: auto;
    margin: 0 auto; }

  /**********************************************************************************************************************/
  /*                                                  CSS FOOTER                                                        */
  /**********************************************************************************************************************/
  .hrFooter {
    width: 90%; }

  footer {
    background-image: url("../img/index/ford1921.jpg");
    background-size: cover; }

  .bandeauFooter {
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; }

  .copyright {
    width: 20%;
    height: auto;
    display: flex;
    text-align: center; }

  .imgCopyright {
    margin-top: 5%;
    margin-right: 5%;
    width: 10%;
    height: 30%; }

  .linkFooter {
    list-style-type: none; }

  .linkFacebook {
    width: 15%;
    height: auto;
    margin: 0 auto; } }
@media screen and (min-width: 750px) {
  /**********************************************************************************************************************/
  /*                                            CSS GENERAL DU HEADER                                                   */
  /**********************************************************************************************************************/
  header {
    background-image: url("../img/index/ford1921.jpg");
    width: 100%;
    height: 800px;
    background-size: cover; }

  /**********************************************************************************************************************/
  /*                                             CSS BANDEAU AVEC LOGO                                                  */
  /**********************************************************************************************************************/
  .headbandLogo {
    width: 100%;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center; }

  .ico {
    width: 50px;
    height: 50px; }

  .logo {
    width: 20%;
    height: auto; }

  /**********************************************************************************************************************/
  /*                                                  CSS DE LA NAVBAR                                                  */
  /**********************************************************************************************************************/
  .navbar {
    margin-top: 4px;
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    position: -webkit-sticky; }

  .sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    border-top: 0; }

  .ulNavbar {
    list-style-type: none;
    margin-top: 2px; }

  .linkNavbar {
    display: inline-block;
    width: 9%;
    margin-top: 15px;
    margin-left: 10%; }

  .slideMenu {
    display: none;
    width: 100%;
    height: 220px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    margin-top: 20px;
    margin-left: -40px; }

  .categoryList {
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px; }

  .category {
    width: 150px;
    height: 150px;
    margin-top: 25px;
    text-align: center; }

  .linkCategory {
    margin-top: 35px; }

  .navbar a:hover {
    background-color: rgba(255, 255, 255, 0.3); }

  .imgCategory {
    width: 100px;
    height: 100px;
    margin: 0 auto; }

  .imgFluidCategory {
    width: 100%;
    height: auto; }

  /**********************************************************************************************************************/
  /*                                          CSS DE LA BARRE DE RECHERCHE                                              */
  /**********************************************************************************************************************/
  .searchInfo {
    margin: 0 auto;
    padding-top: 300px;
    width: 60%;
    height: 20%; }

  .formSearch {
    margin: 0 auto;
    width: 60%;
    height: 50px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px; }

  .searchBar {
    margin: 6px;
    width: 80%;
    height: 60%; }

  /**********************************************************************************************************************/
  /*                                        CSS BOUTON RETOUR VERS LE HAUT                                              */
  /**********************************************************************************************************************/
  .buttonBackToTop {
    margin-top: 300px;
    margin-left: 1280px;
    width: 5%;
    height: auto;
    position: fixed;
    border-radius: 10%; }

  .buttonBackToTop:hover {
    background-color: rgba(0, 0, 0, 0.5); } }
/**********************************************************************************************************************/
/*                                           CSS DU BUNDLE FOSUser                                                    */
/**********************************************************************************************************************/
.connectionForm {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 20%;
  width: 60%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: #5eb5e0;
  border-radius: 10px; }

.loginLogout {
  margin-top: 20px;
  text-align: center;
  font-size: 30px; }

.loginInfo {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-top: 10px; }

.loginInfo input {
  width: 100%;
  height: 30px; }

@media screen and (min-width: 750px) {
  /**********************************************************************************************************************/
  /*                                   CSS DES NEWS DE LA PAGE D'ACCUEIL DU SITE                                        */
  /**********************************************************************************************************************/
  .info {
    width: 100%;
    display: flex;
    align-items: center; }

  .info2 {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center; }

  .info2 .imgNews {
    width: 30%;
    height: auto;
    border-radius: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%; }

  .imgNews {
    width: 30%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%; }

  .imgFluidNews {
    border-radius: 10%;
    width: 100%;
    height: auto;
    overflow: hidden; }

  .titleNews {
    text-align: center;
    margin: auto;
    font-family: "schoolScript";
    font-size: 40px;
    color: white; }

  .line {
    height: 450px;
    border: black solid 1px; }

  .article {
    background-image: url("../img/news/board.jpg");
    background-size: cover;
    width: 30%;
    height: auto;
    margin-left: 10%;
    border-radius: 20px; }

  .articleNews {
    font-family: "chalk";
    font-size: 20px;
    color: white;
    padding: 10px; }

  .info2 .article {
    width: 30%;
    height: auto;
    margin-right: 10%; }

  /**********************************************************************************************************************/
  /*                                             CSS DE LA PAGE homeNews                                                */
  /**********************************************************************************************************************/
  .allNews {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }

  .homeNewsInfo {
    width: 20%;
    height: auto; }

  .homeNewsInfo:hover {
    box-shadow: 10px 5px 5px black;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    overflow: hidden; }

  .homeNewsInfo .titleNews a:hover {
    background-color: rgba(0, 0, 0, 0); }

  .homeNews {
    text-align: center;
    font-family: childWriting;
    font-size: 80px; }

  .homeTitleNews {
    text-align: center;
    font-family: "schoolScript";
    font-size: 40px; }

  .homeImgNews {
    width: 100%;
    height: auto; }

  /**********************************************************************************************************************/
  /*                                             CSS DE LA PAGE showNews                                                */
  /**********************************************************************************************************************/
  .boxNews {
    width: 80%;
    height: 500px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 8px 0 8px -10px #000000, -8px 0 8px -10px #000000; }

  .allImgNews {
    width: 40%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow: scroll; }

  .newsInfo {
    width: 30%;
    margin-left: 10%; }

  /**********************************************************************************************************************/
  /*                                           CSS DU POPUP DES IMAGES ACTUALITES                                                  */
  /**********************************************************************************************************************/
  .imgPopUpNews {
    margin: 20px;
    width: 150px;
    height: 150px;
    overflow: hidden; }

  .modalNews {
    display: none;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 50%;
    height: auto;
    overflow: auto;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px; }

  .imgModalNews {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 400px;
    max-height: 600px; }

  .closeModalNews {
    margin-left: 20px;
    font-size: 20px;
    color: white; } }
/**********************************************************************************************************************/
/*                                           CSS DU MENU ADMINISTRATEUR                                               */
/**********************************************************************************************************************/
.buttonMenu {
  width: 60%;
  height: 250px;
  margin-left: 20%;
  margin-bottom: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #5eb5e0; }

.buttonAdmin {
  width: 100%;
  height: 50px;
  background-color: greenyellow;
  border: 1px solid black;
  text-align: center;
  font-size: 20px;
  border-radius: 10px; }

/**********************************************************************************************************************/
/*                                      CSS GENERAL DES MENUS ADMINISTRATEUR                                          */
/**********************************************************************************************************************/
.adminTable {
  width: 100%;
  height: auto;
  margin-bottom: 20px; }

.adminTableInfo {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px black;
  margin-left: 65px;
  margin-top: 2px; }

.infoBox {
  width: 10%;
  height: auto;
  font-size: 20px; }

.imagesBox {
  width: 70%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.adminImg {
  width: 20%;
  height: 100px;
  overflow: hidden; }

.buttonBox {
  width: 10%;
  display: flex;
  flex-wrap: wrap;
  font-size: 12px; }

/****** Bouton Cr├®er******/
.buttonCreate {
  margin-left: 65px;
  margin-bottom: 30px;
  width: 20%;
  height: 50px;
  background-color: greenyellow;
  border: 1px solid black;
  text-align: center;
  font-size: 20px;
  border-radius: 10px; }

.buttonCreate p {
  margin-top: 15px; }

/****** Bouton Ajouter******/
.buttonAdd {
  width: 100%;
  height: 30px;
  background-color: #5eb5e0;
  border-radius: 10px;
  border: 1px solid black;
  text-align: center; }

.buttonAdd p {
  margin-top: 8px; }

/****** Bouton Modifier******/
.buttonUpdate {
  width: 100%;
  height: 30px;
  background-color: #916319;
  border-radius: 10px;
  border: 1px solid black;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px; }

.buttonUpdate p {
  margin-top: 8px; }

/****** Bouton Supprimer******/
.buttonDelete {
  width: 100%;
  height: 30px;
  background: #AA3333;
  border-radius: 10px;
  border: 1px solid black;
  text-align: center;
  cursor: pointer; }

.buttonDelete p {
  margin-top: 8px; }

/**********************************************************************************************************************/
/*                                                 CSS DU MENU IMAGE                                                  */
/**********************************************************************************************************************/
.adminTableImages {
  width: 90%;
  margin-left: 65px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #5eb5e0;
  border-radius: 10px;
  border: 1px solid black; }

.adminImgMenu {
  width: 20%;
  height: auto;
  border: solid 1px black;
  margin-top: 5px; }

.adminImage {
  width: 100%;
  height: auto; }

.buttonDeleteImage {
  width: 100%;
  height: 30px;
  background: #AA3333;
  border-radius: 10px;
  border: 1px solid black;
  text-align: center;
  margin-left: 40%;
  margin-top: 2px; }

.messageFlashSuccess {
  margin-left: 33%;
  color: green;
  font-size: 20px; }

.messageFlashFail {
  margin-left: 33%;
  color: red;
  font-size: 20px; }

.deleteSecurityModal {
  margin-top: 16px;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 20%;
  border: 2px solid red;
  background-color: white;
  text-align: center;
  color: black; }

.choicheButton {
  display: flex;
  justify-content: space-around; }

.closeModalSecurity:hover {
  cursor: pointer;
  background-color: #868686; }

.delete {
  margin-top: 15px; }

/**********************************************************************************************************************/
/*                                    CSS DU HEADER DE L'ESPACE ADMINISTRATEUR                                        */
/**********************************************************************************************************************/
.headerAdmin {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(206, 201, 201, 0.5); }

.logoAdmin {
  width: 30%;
  height: auto; }

/**********************************************************************************************************************/
/*                                          CSS DU BOUTON DE NAVIGATION                                               */
/**********************************************************************************************************************/
.navButton {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid black;
  position: fixed; }

.navAdmin {
  margin-left: 50px;
  width: 20%;
  height: 50px;
  position: fixed;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid black;
  display: none; }

.logoutButton {
  margin: 0 auto;
  width: 50%;
  height: 20px;
  background-color: #718C00;
  border: 1px solid black;
  border-radius: 50px; }

@media screen and (min-width: 750px) {
  /**********************************************************************************************************************/
  /*                                      CSS MENU ARTICLES PAR CATEGORIE                                               */
  /**********************************************************************************************************************/
  .categoryArticles {
    width: 30%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center; }

  .allarticles {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; }

  .homeArticlesInfo {
    width: 20%;
    height: auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.2); }

  .homeImgArticles {
    width: 100%;
    height: auto; }

  /**********************************************************************************************************************/
  /*                                             CSS DE L'ARTICLE SEUL                                                  */
  /**********************************************************************************************************************/
  .product {
    width: 80%;
    height: 500px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 8px 0 8px -10px #000000, -8px 0 8px -10px #000000; }

  .allImgArticle {
    width: 40%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow: scroll; }

  .boxPrice {
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: 25px;
    background-color: #5eb5e0;
    text-align: center; }

  .price {
    padding-top: 10px; }

  .articleInfo {
    width: 30%;
    margin-left: 10%; }

  /**********************************************************************************************************************/
  /*                                           CSS DU POPUP DES IMAGES                                                  */
  /**********************************************************************************************************************/
  .imgPopUp {
    margin: 20px;
    width: 150px;
    height: auto; }

  .modalArticle {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 50%;
    height: auto;
    overflow: auto;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px; }

  .imgModal {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 400px;
    max-height: 600px; }

  .closeModal {
    margin-left: 20px;
    font-size: 20px;
    color: white; }

  /**********************************************************************************************************************/
  /*                                         CSS BOUTON RETOUR EN ARRIERE                                               */
  /**********************************************************************************************************************/
  .linkBack {
    width: 10%;
    height: 50px;
    margin-top: 10px;
    display: flex;
    align-items: center; }

  .linkBack p {
    margin-top: 25px; }

  .linkBack:hover {
    background-color: rgba(0, 0, 0, 0.2); }

  .arrowback {
    width: 50px;
    height: 50px; }

  /**********************************************************************************************************************/
  /*                                       CSS MESSAGE RESULTAT DE RECHERCHE                                            */
  /**********************************************************************************************************************/
  .searchMessage {
    text-align: center;
    font-size: 20px; } }
@media screen and (min-width: 750px) {
  /**********************************************************************************************************************/
  /*                                          CSS DE LA PAGE CONTACT                                                    */
  /**********************************************************************************************************************/
  .infoIframe {
    display: flex;
    justify-content: space-around;
    align-items: center; }

  .googleIframe {
    width: 50%;
    height: auto; } }
/**********************************************************************************************************************/
/*                                                CSS DES FORMULAIRES                                                 */
/**********************************************************************************************************************/
.adminForm {
  margin: 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5eb5e0;
  border-radius: 10%;
  padding-top: 10px;
  padding-bottom: 10px; }

.formElement {
  width: 60%;
  margin-top: 20px;
  display: flex;
  flex-direction: column; }

.formText {
  width: 100%;
  height: 100px; }

.labelSubmit {
  width: 30%;
  margin: 0 auto; }

.formInput {
  height: 30px; }

@media screen and (max-width: 750px) {
  /***************************************************/
  /*                       Header                    */
  /***************************************************/
  .buttonBackToTop {
    display: none; }

  .headbandLogo {
    width: 100%;
    height: auto; }

  .ico {
    display: none; }

  .navbar {
    width: 100%;
    height: auto; }

  .ulNavbar {
    list-style-type: none;
    text-align: center;
    display: inline; }

  .imgCategory img {
    display: none; }

  .categoryList {
    width: 80%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px; }

  .formSearch {
    text-align: center; }

  /***************************************************/
  /*                      FOOTER                     */
  /***************************************************/
  .bandeauFooter {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; }

  .linkFooter {
    display: none; }

  footer a {
    display: none; }

  .contact {
    display: none; }

  .copyright {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center; }

  .imgCopyright {
    width: 10%; }

  .Author {
    width: 30%; }

  /***************************************************/
  /*                News page d'accueil              */
  /***************************************************/
  .info {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column-reverse; }

  .imgFluidNews {
    border-radius: 50px;
    overflow: hidden; }

  .articleNews {
    text-align: center; }

  .info2 {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column-reverse; } }
.media {
  margin-top: 20px;
  margin-left: 25%;
  width: 50%;
  height: auto;
  text-align: center; }

.imgMedia {
  margin: 0 auto;
  width: 80%;
  height: auto; }

/**********************************************************************************************************************/
/*                                                IMPORT DES FONTS                                                    */
/**********************************************************************************************************************/
@font-face {
  font-family: "childWriting";
  src: url("../font/ChildWriting-Regular.ttf"); }
@font-face {
  font-family: "schoolScript";
  src: url("../font/ulusalokul.com_cizgili.ttf"); }
@font-face {
  font-family: "chalk";
  src: url("../font/DJB Chalk It Up.ttf"); }
/**********************************************************************************************************************/
/*                                                CLASS CSS GENERAL                                                   */
/**********************************************************************************************************************/
body {
  margin: 0 auto;
  font-family: Helvetica;
  font-size: small;
  /*background-color: #f1f1f1;*/ }

.imgFluid {
  width: 100%;
  height: auto; }

a {
  text-decoration: none;
  color: black; }

a:hover {
  background-color: rgba(0, 0, 0, 0.2); }

h2 {
  font-family: "schoolScript";
  font-size: 30px;
  text-align: center; }

.pageTitle {
  text-align: center;
  font-family: "childWriting";
  font-size: 80px; }

h1 {
  text-align: center; }

/*# sourceMappingURL=style.css.map */
