{% extends 'base/index.html.twig' %}

{% block main %}

    <h1>Résultats de votre recherche :</h1>

    {% if articles == false %}

        <p class="searchMessage">Aucun résultat pour votre recherche</p>

    {% else %}

        <div class="allarticles">

        {% for article in articles %}

            <div class="homeArticlesInfo">

                <h1>{{ article.title }}</h1>


                <a href="{{ path('article_by_id', {'id': article.id}) }}">Voir ce produit</a>

            </div>

        {% endfor %}

    {% endif %}

{% endblock %}