{% extends 'base/index.html.twig' %}

{% block main %}

    <section>
        <h1 class="pageTitle">Contact</h1>
        <article>
            <div class="infoIframe">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10913.613073682565!2d0.3545762326750106!3d46.85543583997849!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47fd0a573fab60d1%3A0x2605d3935fa33ec1!2sPuygareau%2C%2086230%20Sossais!5e0!3m2!1sfr!2sfr!4v1566987967595!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" class="googleMaps"></iframe>
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fdavidhenshall86230%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="450" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media" class="facebook"></iframe>
            </div>
        </article>
    </section>

{% endblock %}